body {
    background-image: url("../img/wallpaper-xwing-tie-fa.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
}

/* board */

.board {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    border: 10px solid rgba(0, 0, 0, .5);
}

.board .playmat {
    height: 1000px;
    width: 1000px;
    
    position:absolute; 
    z-index: 1;
}
