.playArea {
  display: flex;
  justify-content: center;  
  align-items: center;
  margin: auto;
}

.dial {
    position:absolute;
    left: 1200px;
    width: 100px;
}

.dialImg {
    width: 50px;
}

body {
    background-image: url("../img/wallpaper-xwing-tie-fa.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
}

.board {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    border: 10px solid rgba(0, 0, 0, .5);
}

.board .playmat {
    height: 1000px;
    width: 1000px;
    
    position:absolute; 
    z-index: 1;
}

.tieDiv {
    position:absolute; 
    z-index: 3;
    
    height: 50px;
    width: 50px;
    
    /* TODO: set dynamically */
    top: 900px; 
    left: 100px;
}

.tieDiv img {
   height: 100%;
   width: 100%;
}
