canvas {
    margin: auto;
}

.dial {
    width: 200px;
    /*position: absolute;*/
    margin: auto;
}

img {
    width: 100%;
}

body {
    background-image: url("../img/wallpaper-xwing-tie-fa.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
}
