/* move template */

.moveTemplateDiv {
    position:absolute;
    z-index:99;
    
    /* rotate on the top left corner instead of the center */
    transform-origin: top left; 
}

.moveTemplateDiv img {
    height: 100%;
    width: 100%;
    opacity:0.6;
}
